.query-input textarea,.modal textarea{
    resize: vertical;
    min-height: 5em;
    font-size: 1.5em;
}
.text-wrapper{


}

#graphical-rs{
    height: 500px;
}

#tabular-rs{
    height: 500px;
}

#raw-rs{
    height: 500px;
}
.hidden{
    display: none;

}

pre{
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
}


/* D3 */


.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1.5px;
}
.hover-value{
    float: left;
    display: inline-block;
    padding: 0.5em;
    margin: 0;
}
div.tooltip {   
    position: absolute;         
    text-align: center;         
    min-height: 28px;                   
    padding: 2px;               
    font: 12px sans-serif;      
    background: lightsteelblue; 
    border: 0px;        
    border-radius: 8px;         
    pointer-events: none;           
}

.template{
    display: none;
}

