.query-input textarea{
  resize: vertical;
  min-height: 5em;
  font-size: 1.5em;
}
.text-wrapper{


}

#graphical-rs{
  height: 500px;
}

#tabular-rs{
  height: 500px;
}

#raw-rs{
  height: 500px;
}
.hidden{
  display: none;

}

pre{
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}


/* D3 */


.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}
